asgiref
bleach
Django>4.2,<4.3
django-debug-toolbar
django-extensions
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-summernote
django-taggit
Pillow
six
sqlparse
typing_extensions
tzdata
webencodings
django_compressor
